#contactMensaje{
    resize: none;
    margin-top:3px; margin-bottom: 3px;
}

#contactName{
    margin-top:3px; margin-bottom: 3px;
}

#contactEmail{
    margin-top:3px; margin-bottom: 3px;
}

.section-title{
    text-align: center;
    padding: 25px 0;
}

.section-title h2{
    color: rgb(12, 17, 32);
    font-size:33px;
    text-transform:uppercase ;
    font-family:oswald;
    font-weight: 700;
    text-shadow:0 6px 6px rgba(2,2,2,0.3)
}

.contact-form{
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
    padding: 40px 30px;
}

.contact-form .btn{
    background-color: #D1E7DD;;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 50px;
    letter-spacing: 2px;
}
.map-area{
    width: 600px;
    height: 465px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}

.map-area iframe{
    width: 100%;
    height: 100%;
    border: none;
}

@media(max-width:1227px){
    .contact-form{
        margin-bottom:30px;
    }
    .map-area{
        width: 100%;
        height: 460px;
    }
}