




.headerNav{
  background-color:#006633 ;


}

.headerNav .container{
height: 3.0rem;

}



.socialSites{

}

.socialSites .cart-icon {
  position: relative;
}

.socialSites .cart-icon .badge {
  position: absolute;
  top: -3px;
  right: -3px;
  font-size: 0.9em;
}







.headerNav li.nav-item .nav-link{
color: #fff;
font-size: 1rem;
font-weight: 600;
margin: 0 1px;
}

.socialSites li.nav-item .nav-link{
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin:0;
  }

  



.headerNav a.navbar-brand{

  display: flex;
  justify-content: center;
  align-items: center;
color: #fff;
font-family: 'Lobster', cursive !important;
font-size: 2.1rem;
text-shadow: 0px 0px 0.1px #fff, 0px 0px 0.2px #fff, 0px 0px 0.1px darkseagreen, 0.1px 0px 0.4px darkseagreen, 1px 0.1px 0.4px darkseagreen, 0px 0px 0.4px darkseagreen, 0px 0px 0.5px darkseagreen;
}



.registerTitle a{
    text-align: center;
    font-family: 'Lobster',!important;
    font-size: 3.0rem;
    font-weight: 1000;

}






  .unstyled {
    color: inherit;
    text-decoration: none;
    border: none;
  }



  #navTitle{
    font-size: 3.0rem;
  }

  .brandStyle{
  color:darkseagreen;
  font-family: 'Lobster', cursive !important;
  font-size: 2.4rem;
  text-shadow: 0px 0px 0.6px #fff, 0px 0px 0.6px #fff, 0px 0px 0.1px #fff, 1px 0px 0.6px #fff, 1px 0.1px 0.6px #fff, 1px 0px 0.4px #fff, 1px 0px 0.6px #fff;
  }


 

  .navbar-brand{
  font-size: 1rem
  }


  /*Movil ZONE */





  @media(max-width:992px){
    .headerNav .container{
      height: 5rem;
    }
    
    }

  @media(max-width:490px){
    a.nav-link {

    }

  

  }

    /*IPHONE xr  */
    @media(max-width:414px){
      #navTitle{
        font-size: 2.1rem;
      }
    
      .brandStyle{
  
      font-size: 2.5rem;
      
      }
      
    }


/*IPHONE 6/7/8  */
  @media(max-width:375px){
    #navTitle{
      font-size: 2.0rem;
    }
  
    .brandStyle{

    font-size: 2.2rem;
    
    }
    
  }

  /*IPHONE 4  */
  @media(max-width:320px){
    #navTitle{
      font-size: 1.7rem;
    }
  
    .brandStyle{

    font-size: 1.9rem;
    
    }
    
  }

  

  





