@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');


#sobreNosotros h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'Montserrat', sans-serif;

}

#sobreNosotros h1,h2,h3,h4{
    font-weight: 900;




    
}

#sobreNosotros h5,h6,a,p{
    font-weight: 300;
}

:root{
    --colorOne:#19456b;
    --colorTwo:#16c79a;
}

.center.vertical{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.about-us-section{
    width: 100%;
    padding: calc(5% + 30px) 0px;
}

.about-us-section .img-head{
    position: relative;
    overflow: hidden;
}

.about-us-section .img-head img{
    width: 100%;
    transition: transform .3s;
}

.about-us-section .img-head:hover img{
    transform: scale(1.2);
}

.about-us-section .img.head::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom,var(--colorOne), var(--colorTwo));
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
}

.about-us-section .text-head{
    font-size: 28px;
    color: var(--colorTwo);
}

.about-us-section .break-small{
    width: 80px;
    height: 3px;
    background-color: var(--colorTwo);
}

.about-us-section .text-para{
    font-size: 16px;
    color: var(--colorTwo);
    color:#444;
}